In [1]:
from hopfield import *

In [2]:
!pip3 install tqdm

Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (4.65.0)
WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.

In [3]:
from tqdm import tqdm

In [3]:
results = []

In [2]:
import numpy as np

In [ ]:
import time

In [18]:
from tqdm.auto import tqdm

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [4]:
def get_results(n):
    results = []
    for num_nodes in range(1,n+1):
        for num_images in range(0,max(2,int(num_nodes/6))):
            for num_to_perturb in range(1,int(num_nodes/6)):
                h = Hopfield(shape = (num_nodes,1))
                #print(h.values)
                h.train_on_values()
                #print(h.values)
                v  =list(h.values)

                
                for train in range(num_images-1):
                    new_img = np.random.choice([-1, 1], size = num_nodes)
                    h.train_on_new(new_img)

                h.perturb(num = num_to_perturb)

                times = h.update_until_steady()

                ham = Hopfield.hamming_distance(v,h.values)

                dict = {"nodes":num_nodes,"images":num_images+1,"perturbed":num_to_perturb, "times-took":times, "hamming":ham}
                results.append(dict)

        print(num_nodes)        
    return results

In [14]:
print(dic)

[{'nodes': 2, 'images': 1, 'perturbed': 1, 'times-took': 100, 'hamming': 1}, {'nodes': 2, 'images': 2, 'perturbed': 1, 'times-took': 1, 'hamming': 2}]

In [6]:
import pandas as pd

In [5]:
dic1 = get_results(100)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

KeyboardInterrupt:

In [15]:
df = pd.DataFrame.from_dict(dic1)

In [16]:
df

     nodes  images  perturbed  times-took  hamming
0        6       1          1           1        0
1        6       2          1           1        0
2        7       1          1           1        0
3        7       2          1           1        0
4        8       1          1           1        0
..     ...     ...        ...         ...      ...
323     25       6          3           1        0
324     25       6          4           2        3
325     25       6          5           2        3
326     25       6          6           1        0
327     25       6          7         100       13

[328 rows x 5 columns]

In [24]:
df[df['nodes'] == 10]

    nodes  images  perturbed  times-took  hamming
72     10       1          1           1        0
73     10       1          2           1        0
74     10       1          3           1        0
75     10       1          4           1        0
76     10       1          5         100        5
77     10       1          6           1        0
78     10       1          7           1        0
79     10       1          8           1        0
80     10       1          9           1       10
81     10       2          1           1        0
82     10       2          2           1        0
83     10       2          3           1        0
84     10       2          4           1        0
85     10       2          5           1        0
86     10       2          6           1        0
87     10       2          7         100        5
88     10       2          8           1        0
89     10       2          9         100        5

In [15]:
df.head(20)

    nodes  images  perturbed  times-took  hamming
0       2       1          1         100        1
1       3       1          1           1        0
2       3       1          2           1        0
3       4       1          1           1        0
4       4       1          2         100        2
5       4       1          3           1        0
6       5       1          1           1        0
7       5       1          2           3        0
8       5       1          3           3        5
9       5       1          4           1        5
10      6       1          1           1        0
11      6       1          2           1        0
12      6       1          3           1        0
13      6       1          4           1        0
14      6       1          5         100        3
15      7       1          1           1        0
16      7       1          2           1        0
17      7       1          3           2        0
18      7       1          4           1        0
19      7       1          5           1        0